button:focus {outline:0;}

#catalog-container {
    width: 70vw;
    height: 30vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 20vh;
    left: 15vw;
    justify-content: space-between;

}
.catalog-item {
    position: relative;
}
.catalog-item:hover .catalog-image{
    animation-name: fadeout;
    animation-duration: 0.5s;
    opacity: 0.2;
}
.catalog-item:hover .catalog-button{
    display: block;
}

.catalog-image {
    max-width: 200px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #ccc;
}
.catalog-button {
    padding: 9px 29px;
    border: black solid 1.2px;
    font-size: 1em;
    color: black;
    background: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 30%;
    display: none;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}
